@CHARSET "UTF-8";

.nav {
	height:40px;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: block;
	list-style: none;
	text-align: center;
	vertical-align: middle;
	height:40px;
	line-height:40px;  
	text-align: center; 
}



.nav li {
	width:50%;
	float: left;
	list-style: none;
	display:inline-block;
	text-align:center; vertical-align:middle; 
}

.nav li label {
	width:100%;
	float: left;
	display:inline-block;
	text-align:left; vertical-align:middle; font-size:20px; font-weight:bolder; 
	margin:0 auto;
	display:table-cell;vertical-align: middle;
}

.nav li img {
	margin-left:6em;
	width: 1.8em;
	height:1.8em ;
	float: left;
}

.nav li span {
	width:50%;
	text-align:left;
	margin-right:0;
	width:auto;
	float: left;
	font-size: 1em;
	font-weight: bold;
	width: auto;
	text-align:left; vertical-align:middle;
}