@CHARSET "UTF-8";


.comment-title{

	width: 100%;

	height: 32px;

	line-height: 32px;

	background-color: #e8373c;

	color: #ffffff;

	font-size: 14px;

	text-align: center;

}

.comment{

	width: 100%;

	height: 360px;

	margin-top: 10px;

	margin-bottom: 0px;

	overflow: hidden;

}

.comment-inner{

	width: 100%;

}

.comment-name{

	line-height: 25px;

	color: #e8373c;

	margin-left: 10px;

	font-size: 14px;

}

.comment-content{

	line-height: 25px;

	margin-left: 10px;

	font-size: 14px;

	color: #666666;

	border-bottom: 1px dotted #cccccc;

}