


#latestorder{width:100%;font-size:12px;line-height:200%;background:#EFEFEF;text-align:left;border-top:1px solid #DDDDDD;}
#latestorder ul{padding:10px;height:50%;overflow:hidden;}
#latestorder span{color:#0C3;}