.mask-layer { position: fixed; width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background-color: black;  top: 0px; left: 0px; z-index: -99999;}


.win {
	display: block;
	border: 1;
	background:#ff8000; /* 背景色 */ 
	text-align:center; /* 文字等内容居中 */ margin:2em auto; /* 居中 这个是必须的，，其它的属性非必须 */ 
	width:600px;
}


.window-panel {
	text-align:center; /* 文字等内容居中 */ margin:0 auto; /* 居中 这个是必须的，，其它的属性非必须 */ 
	background-color: white;
	border-radius: 4px;
	
}

.window-panel .title-panel {
	/*position: absolute;*/
	height: 36px;
	width: 100%; 
	border-radius: 4px 4px 0 0;
	text-align:center; /* 文字等内容居中 */ margin:0 auto; /* 居中 这个是必须的，，其它的属性非必须 */ 
}

.window-panel .title {
	/*position: absolute;*/
	height: 36px;
	width: 100%;
	text-align: center;
	/*text-align:center; /* 文字等内容居中 */ margin:0 auto; /* 居中 这个是必须的，，其它的属性非必须 */ 
	
	line-height: 36px;
	vertical-align: middle;
	
	/*border-radius: 4px 4px 0 0;
	border-bottom: 1px solid rgb(233, 233, 233);
	*/
	
	background-color: whitesmoke; /*标题背景色*/
	
	
	z-index: 1;
}

.window-panel h3 {
	font-size: 1.6em;
	margin: 0;
}

.window-panel .close-btn {
	
	text-align: center;
	vertical-align: middle;
	float:right;
	width: 36px;
	line-height: 36px;
	right: 0px;
	text-decoration: none;
	font-size: 1em;
	color: black;
	background-color: #DBDBDB;
	border-radius: 2px;
	z-index: 1;
}

.window-panel .close-btn:hover {
	background-color: #ccc;
}

.window-panel .body-panel {
	/*position: absolute;*/
	width: 100%;
	top: 36px;
	border-radius: 0 0 4px 4px;
	z-index: 1;
}

.window-panel .content, .window-panel .btns {
	text-align: center;
	color: red;
}

.window-panel .content {
	padding: 18px 5px 0px 5px;
	font-size: 2em;
	min-height: 40px;
	line-height: 22px;
}

.window-panel .w-btn {
	display: inline-block;
	width: 60px;
	height: 26px;
	line-height: 26px;
	background-color: #DE5923;
	color: white;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	text-decoration: none;
	margin: 0 10px 0px 10px;
	border: none;
}

.window-panel .w-btn:hover {
	background-color: #DA3E00;
}

.window-panel .w-btn:focus {
	outline: 0 none;
}